@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.item__section {
	background-color: variables.$color-pale-grey;
	@include mixins.borderOptions(1px, solid, variables.$color-light-grey, 5px);
	@include mixins.flexBlock($horizontal: space-between, $gap: 25px);

	.form__item {
		flex: 54%;

		&:first-child {
			flex: 26%;
		}
		&:last-child {
			flex: 20%;

		}

		.form-item__title {
			color: #000000;
		}
	}

	.form__item label,
	.select__label {
		display: block;
		font-size: variables.$font-size-label;
		margin-bottom: 5px;
	}

	.item__section-button {
		height: 40px;
		margin-top: 17px;
	}
}

@media (max-width: 790px) {
	.item__section {
		flex-wrap: wrap;

		.item__section-button {
			flex: 1;
			width: 100%;
		}
	}
}

@media (max-width: 390px) {
	.item__section {
		flex-direction: column;

		.form__item {
			width: 100%;
			flex: 1;
		}
	}
}
