@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.popup__option {
    padding: 10px;
    cursor: pointer;
    @include mixins.userSelect($value: none);

    &:hover {
        background: variables.$color-hover;
    }

    &.popup__option_red {
        color: variables.$color-red;
    }

    &.popup__option_active {
        background: variables.$color-hover;
    }

    &.popup__option-sublink {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: space-between;

        &.popup__option-sublink_back {
            flex-direction: row-reverse;
            justify-content: flex-end;

            .icon__arrow {
                transform: rotate(180deg);
            }
        }
    }

    &.popup__option_unhover {
        &:hover {
            background: inherit;
        }
    }
}