@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__item-content_file {
    display: flex;
    align-items: flex-start;
    height: calc(100% - 30px);
    position: absolute;
    left: 0px;

    .table__item-content-slot {
        display: flex;
        height: 100%;
        max-height: 100px;
        align-items: center;
        gap: 5px;

        .table__item-content-list {
            height: 100%;
            aspect-ratio: 1;
    
            * {
                height: 100%;
            }
    
            .item__value {
                position: relative;
                display: grid;
                place-items: center;
                width: max-content;
    
                &:not(:first-child) {
                    display: none;
                }
    
                .item__value-img-details {
                    display: none;
                }
        
                a { 
                    .item__value-img {
                        overflow: hidden;
                        border-radius: 5px;
                        border: 1px solid variables.$color-grey;
                        
                        img {
                            object-fit: cover !important;
                        }
                    }
                }
    
                .item__value-img {
                    aspect-ratio: 1;
                    height: 100%;
                    width: auto;
                    max-width: 100px;
                    max-height: 100px;
                }
    
                .item__value-img-details {
                    display: none;
                }
            }
        }
    }

    .table__item-content_title {
        display: none;
    }

    .item__value-circle {
        opacity: 0.6;
        background-color: #a6b7d4;
        display: grid;
        place-items: center;
        padding: 3px;
        color: variables.$color-white;
        border-radius: 50%;
        min-width: 21px;
        font-size: variables.$font-size-label;
        @include mixins.elemResolutionOptions(21px, 21px);
    }
}