@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.menu {
    &.menu_desktop {
        display: grid;
        grid-template-rows: auto 1fr auto auto;
        @include mixins.elemResolutionOptions(230px, 100%);
        background-image: radial-gradient(circle at 29% 0,variables.$color-black,#1c2734 21%);
    
        &:hover {
            .menu__settings {
                .popup {
                        opacity: 1;
                    }
                }
        }
    
        &.menu_draggable {
            .menu__item, .menu__item:hover {
                @include mixins.userSelect($value: none);
                background: inherit;

                .icon__draggable {
                    opacity: 0;
                }
            }
        }
    
        .menu__content {
            overflow: auto;
            
            /* scrollbar для Chrome/Edge/Safari */
            &::-webkit-scrollbar {
                border-radius: 5px;
                @include mixins.elemResolutionOptions(4px, 4px);
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                border: none;
                background-color: variables.$color-orange;
                border-radius: 5px;
            }
        }

        .icon__logo {
            @include mixins.flexBlock($vertical: center);
        }
    
        .menu__logo {
            display: block;
            margin: 30px auto;
            width: max-content;
        }
    
        .menu__item {
            cursor: pointer;
            line-height: 120%;
            position: relative;
            padding: 0px 30px 0px 25px;
            color: variables.$color-white;
            @include mixins.sortableGhost();
            @include mixins.userSelect(none);
            font-size: variables.$font-size-default;
            @include mixins.flexBlock($vertical: center, $gap: 0px);

            a {
                color: variables.$color-white;
                padding: 10px 0px;
                width: 100%;
            }

            &.sortable-fallback {
                background: variables.$color-dark;

                .icon__draggable {
                    opacity: 1;
                }
            }
    
            &:hover {
                background: variables.$color-dark;
    
                .icon__draggable {
                    opacity: 1;
                }
            }

            &.menu__user {
                padding: 10px 30px 10px 25px;
            }
    
            &.menu__item_active {
                color: variables.$color-orange;

                a {
                    color: variables.$color-orange;
                }
    
                &::before { 
                    content: '';
                    position: absolute;
                    background: variables.$color-orange;
                    @include mixins.elemPositionOptions(0px, 0px);
                    @include mixins.elemResolutionOptions(3px, 100%);
                }
            }
    
            &.sortable-ghost {
                height: 42px;
                font-size: 0;
                background: variables.$color-dark;
    
                * {
                    opacity: 0;
                }
    
                &::before {
                    content: none;
                }
            }

            .icon__draggable {
                left: 3px;
                opacity: 0;
                padding: 0px 5px;
            }
        }

        .menu-user__btn-logout {
            width: 100%;
            text-align: left;
            padding: 0;
            background: inherit;

            &:hover {
                filter: none;
            }
        }
    
        .menu__item-details {
            &[open] {
                summary {
                    padding: 10px 15px 10px 15px;
    
                    &:hover {
                        background: inherit;
                    }
    
                    &::after {
                        content: none;
                    }

                    .menu__item-subtitle {
                        display: none;
                    }
    
                    .menu__item-hide {
                        display: flex;
    
                        .menu__item-subtitle {
                            display: block;
                        }
                    }
                }
    
                .menu__item-close {
                    display: flex
                }
            }
    
            summary {
                padding: 10px 20px 10px 25px;
                @include mixins.flexBlock($vertical: center, $horizontal: space-between, $gap: 10px);
    
                .menu__item-hide {
                    display: none;
                }

                &::after {
                    content: url('/icons/arrow.svg');
                }
            }
        }
    
        .menu__item-hide {
            font-size: variables.$font-size-label;
            @include mixins.flexBlock($vertical: center, $horizontal: center, $gap: 10px);
            @include mixins.elemResolutionOptions(100%, 22px);
    
            &::after, &::before {
                content: '';
                height: 1px;
                width: 100%;
                position: relative;
                background-color: #2c3d51;
            }

            .menu__item-subtitle {
                padding: 5px 15px;
                border-radius: 16px;
                color: variables.$color-white;
                background-color: #2c3d51;
            }
        }
    
        .menu__item-close {
            @include mixins.flexBlock($vertical: center, $horizontal: space-between);
            display: none;
            padding: 10px 20px 10px 25px;
    
            &::after {
                transform: rotate(180deg);
                content: url('/icons/arrow.svg');
            }
        }
    
        .popup__menu {
            .popup__summary {
                width: 100%;
            }

            .popup__content {
                bottom: 60px;
                width: calc(100% - 20px);
                @include mixins.elemPositionOptions(auto, 10px);
            }
        }
        
        .menu-user {
            &.menu__item {
                border-top: 1px solid variables.$color-grey;
                @include mixins.flexBlock($vertical: center, $gap: 10px);
            }
            
            .menu-user__title {
                font-size: 14px;
            }
        }
        
        .menu-user__icon {
            overflow: hidden;
            border-radius: 50%;
            @include mixins.elemResolutionOptions(30px, 30px);

            figcaption {
                background: var(--backgroundColor);
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                color: variables.$color-white;
            }
        }
        
        .menu__settings {
            padding: 10px 30px 10px 25px;
            @include mixins.flexBlock($vertical: center, $gap: 10px);
        
            .popup {
                opacity: 0;
    
                &[open] {
                    opacity: 1;
                }
    
                .popup__content {
                    top: auto;
                    bottom: 30px;
                }

                &.popup__settings, &.popup_save {
                    font-family: PT Sans;

                    &[open], &:hover {
                        .popup__summary {
                            svg {
                                * {
                                    fill: variables.$color-orange;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .popup__settings {
            &.popup {
                &[open] {
                    svg {
                        * {
                            fill: variables.$color-blue-grey;
                        }
                    }
                }
            }
        
            .menu__item-hide {
                margin: 10px 0px;
                padding: 0px 10px;
        
                .menu__item-subtitle, &::after, &::before {
                    background-color: variables.$color-blue-grey;
                }
            }

            .icon__draggable {
                position: relative;
            }
        }
    }
}

@media (max-width: 650px) {
    .menu {
        &.menu_desktop {
            display: none;
        }
    }
}