@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__actions {
    width: max-content;

    &[open] {
        summary {
            svg {
                g {
                    g {
                        fill: variables.$color-active
                    }
                }
            }
        }
    }

    summary {
        cursor: pointer;
        text-align: center;

        &:hover {
            svg {
                g {
                    g {
                        fill: variables.$color-active
                    }
                }
            }
        }
    }

    &.table__actions_hidden {
        summary {
            svg {
                g {
                    g {
                        fill: variables.$color-hover
                    }
                }
            }

            &:hover {
                svg {
                    g {
                        g {
                            fill: variables.$color-hover
                        }
                    }
                }
            }
        }
    }
}


.table-mobile__section {
    .table__actions {
        position: relative;
    }
}
