@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.menu {
    @include mixins.elemResolutionOptions(230px, 100%);
    background-image: radial-gradient(circle at 29% 0,#000,#1c2734 21%);

    &.menu_draggable {
        .menu__item {
            &:hover {
                background: inherit;

                .icon__draggable {
                    opacity: 0;
                }
            }
        }
    }

    .icon__logo {
        display: flex;
        justify-content: center;
    }

    .menu__logo {
        display: block;
        width: max-content;
        margin: 30px auto;
    }

    .menu__list {
    }

    .menu__item {
        cursor: pointer;
        line-height: 120%;
        position: relative;
        padding: 10px 30px 10px 25px;
        color: variables.$color-white;
        @include mixins.sortableGhost();
        @include mixins.userSelect(none);
        @include mixins.flexBlock($vertical: center, $gap: 0px);

        &:hover {
            background: #161616;

            .icon__draggable {
                opacity: 1;
            }
        }

        .icon__draggable {
            opacity: 0;
            left: 8px;
        }

        &.menu__item_active {
            color: #fd8301;

            &::before {
                content: '';
                position: absolute;
                background: variables.$color-orange;
                @include mixins.elemPositionOptions(0px, 0px);
                @include mixins.elemResolutionOptions(3px, 100%);
            }
        }

        &.sortable-ghost {
            background: #161616;
            height: 42px;
            font-size: 0;

            * {
                opacity: 0;
            }

            &::before {
                content: none;
            }
        }
    }

    .menu__item-details {
        
    }
}
