@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.menu {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    @include mixins.elemResolutionOptions(230px, 100%);
    background-image: radial-gradient(circle at 29% 0,#000,#1c2734 21%);

    &:hover {
        .menu__settings {
            .popup {
                    opacity: 1;
                }
            }
    }

    &.menu_draggable {
        .menu__item {
            &:hover {
                background: inherit;

                .icon__draggable {
                    opacity: 0;
                }
            }
        }
    }

    .icon__logo {
        display: flex;
        justify-content: center;
    }

    .menu__logo {
        display: block;
        width: max-content;
        margin: 30px auto;
    }

    .menu__item {
        cursor: pointer;
        line-height: 120%;
        position: relative;
        padding: 10px 30px 10px 25px;
        color: variables.$color-white;
        @include mixins.sortableGhost();
        @include mixins.userSelect(none);
        @include mixins.flexBlock($vertical: center, $gap: 0px);

        &:hover {
            background: #161616;

            .icon__draggable {
                opacity: 1;
            }
        }

        .icon__draggable {
            opacity: 0;
            left: 8px;
        }

        &.menu__item_active {
            color: #fd8301;

            &::before {
                content: '';
                position: absolute;
                background: variables.$color-orange;
                @include mixins.elemPositionOptions(0px, 0px);
                @include mixins.elemResolutionOptions(3px, 100%);
            }
        }

        &.sortable-ghost {
            background: #161616;
            height: 42px;
            font-size: 0;

            * {
                opacity: 0;
            }

            &::before {
                content: none;
            }
        }
    }

    .menu__item-details {
        &[open] {
            summary {
                padding: 10px 15px 10px 15px;

                &:hover {
                    background: inherit;
                }

                .menu__item-subtitle {
                    display: none;
                }

                .menu__item-hide {
                    display: flex;

                    .menu__item-subtitle {
                        display: block;
                    }
                }

                &::after {
                    content: none;
                }
            }


            .menu__item-close {
                display: flex
            }
        }

        summary {
            padding: 10px 20px 10px 25px;
            @include mixins.flexBlock($vertical: center, $horizontal: space-between, $gap: 10px);

            &::after {
                content: url('/public/icons/arrow.svg');
            }

            .menu__item-hide {
                display: none;
            }
        }
    }

    .menu__item-hide {
        font-size: variables.$font-size-label;
        @include mixins.flexBlock($vertical: center, $horizontal: center, $gap: 10px);
        @include mixins.elemResolutionOptions(100%, 22px);

        .menu__item-subtitle {
            padding: 5px 15px;
            border-radius: 16px;
            color: variables.$color-white;
            background-color: #2c3d51;
        }

        &::after, &::before {
            content: '';
            height: 1px;
            width: 100%;
            position: relative;
            background-color: #2c3d51;
        }
    }

    .menu__item-close {
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 25px;

        &::after {
            transform: rotate(180deg);
            content: url('/public/icons/arrow.svg');
        }
    }

    .popup__menu {
        .popup__content {
            top: auto;
            bottom: 60px;
            left: 10px;
            width: calc(100% - 20px);
        }
    }
    
    .menu-user {
        &.menu__item {
            border-top: 1px solid variables.$color-grey;
            @include mixins.flexBlock($vertical: center, $gap: 10px);
        }
    
        .menu-user__title {
            font-size: 14px;
        }
    }
    
    .menu-user__icon {
        overflow: hidden;
        border-radius: 50%;
        @include mixins.elemResolutionOptions(30px, 30px);
    
        img {
            object-fit: contain;
        }
    }
    
    .menu__settings {
        @include mixins.flexBlock($vertical: center, $gap: 10px);
        padding: 10px 30px 10px 25px;
    
        .icon__save {
            display: flex;
        }
    
        .popup {
            opacity: 0;

            &[open] {
                opacity: 1;
            }

            .popup__content {
                top: auto;
                bottom: 30px;
            }
        }
    }
    
    .popup__settings {
        &.popup {
            &[open] {
                svg {
                    * {
                        fill: #A6B7D4;
                    }
                }
            }
    
            .popup__content {
                .popup-option__draggable {
                    .popup__option {
                        padding: 10px 10px 10px 20px;
        
                        .icon__draggable {
                            left: 5px;
                        }
        
                        &.sortable-ghost {
                            height: 37px;
                        }
                    }
                }
            }
        }
    
        .menu__item-hide {
            margin: 10px 0px;
            padding: 0px 10px;
    
            .menu__item-subtitle {
                background-color: #A6B7D4;
            }
    
            &::after, &::before {
                background-color: #A6B7D4;
            }
        }
    }
}