@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__item_images {
    .table__item-content_title {
        display: none;
        font-size: variables.$font-size-label;
        color: variables.$color-grey;
        margin-bottom: 5px;
    }

    .table__item-content-list {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        align-items: flex-start;
        cursor: text;

        .item__value {
            position: relative;
            @include mixins.sortableGhost;
            display: flex;
            flex-direction: column;
            width: 100px;

            .item__value-link {
                .item__value-img {
                    border-radius: 5px;
                    overflow: hidden;
                    background: variables.$color-white;
                    border: 1px solid variables.$color-grey;
                    @include mixins.elemResolutionOptions(100px, 100px);

                    img {
                        object-fit: cover !important;
                    }
                }
            }

            .item__value-description {
                height: 100%;
                margin-top: 5px;
                color: variables.$color-grey;
                @include mixins.textVerticalHidden()
            }

            .item__value-img-details {
                position: absolute;
                @include mixins.elemPositionOptions(35px, 35px);
                @include mixins.elemResolutionOptions(30px, 30px);
                display: none;

                &.item__value-img-details_open {
                    display: block;
                }

                summary {
                    cursor: pointer;
                    display: grid;
                    place-items: center;
                    grid-template-columns: 1fr;
                    border-radius: 50%;
                    border: solid 1px #4e4e4e;
                    background-color: rgba(246, 245, 243, 0.6);
                    @include mixins.elemResolutionOptions(30px, 30px);
                    @include mixins.elemPositionOptions(35px, 35px);

                    svg {
                        g {
                            g {
                                fill: #4e4e4e;
                            }
                        }
                    }
                }

                .section__settings-list {
                    right: auto;
                    @include mixins.elemPositionOptions(35px, 5px);
                }
            }

            &:hover {
                .item__value-img-details {
                    display: grid;
                }

                .item__value-description {
                    color: variables.$color-black;
                }
            }
        }
    }
}
