@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.file-upload {
    position: relative;
    width: 100px;
    height: 100px;
    background: #fff;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    background: variables.$color-white;
    z-index: 1;
    font-family: 'PT Sans';
    font-size: variables.$font-size-default;
    @include mixins.hoverElem();
    border: 2px dashed variables.$color-blue-grey;
    border-radius: 6px;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.file-upload__input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
    font-size: 0;
}

#file-upload-button {
    cursor: pointer;
}

.file-upload__button {
    @include mixins.flexBlock($vertical: center, $gap: 10px);
    flex-direction: column;

    svg {
        @include mixins.elemResolutionOptions(35px, 27px);
    }

    & > span {
        flex-direction: column;
        gap: 10px;
    }

    &.file-upload_hidden {
        opacity: 0;
        z-index: 0;
    }

    .file-upload__button-title {
        color: variables.$color-grey;
        height: unset;
        padding: 0 10px;
        @include mixins.textVerticalHidden()
    }
}


.file-upload:focus, .file-upload:hover, .file-upload_dragover {
    background: transparent;
    border: 2px dashed variables.$color-active;

    .file-upload__button-title {
        color: variables.$color-black;
    }

    svg {
        g {
            fill: variables.$color-active;
        }
    }
}