@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__body {
    .table__row {
        .table__item {
            min-width: auto;
            width: auto;
            vertical-align: top;
            
            &.sortable-ghost {
                border-radius: 0px;
                border-top: none;
                border-bottom: none;
            }

            .table-item__content {
                .form-item__title, .relation__actions {
                    display: none;
                }

                & > * {
                    width: 100%;
                }

                .form-item__relation {
                    .relation__item {
                        &.relation__item_empty {
                            display: none;
                        }

                        padding: 0px 0px 10px;
                        background: inherit;
                        border: none;
                    }
                }
            }
        }

        &:last-child {
            .table__item {
                &.sortable-ghost {
                    border-radius: 0px 0px 5px 5px;
                    border-bottom: 2px dashed variables.$color-blue-grey;
                }
            }
        }

        &.table__row_choosed {
            background: #eef3f8;

            .table__item {
                background: #eef3f8;
            }
        }

        &.table__row_edit {
            background: #d9e4f0;

            .table__item {
                background: #d9e4f0;

                .form-item__relation {
                    .relation__item {
                        &.relation__item_empty {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

