@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.popup {
    position: relative;

    &[open] {
        .icon__settings {
            opacity: 1;
        }

        svg {
            * {
                fill: variables.$color-active;
            }
        }
    }
}

.popup__summary {
    display: block;
    width: max-content;

    &:hover {
        cursor: pointer;
        
        svg {
            * {
                fill: variables.$color-active;
            }
        }
    }
}

.popup__content {
    top: 20px;
    left: 0px;
    z-index: 9999;
    min-width: 200px;
    overflow-y: auto;
    max-height: 300px;
    position: absolute;
    border-radius: 5px;
    @include mixins.scrollBar();
    background: variables.$color-white;
    box-shadow: 0 0 3px #000, inset 0 1px 2px #ffffff80;
}