@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__item-content {
    &--border {
        .item__value {
            display: block;
            @include mixins.borderOptions(1px, solid, variables.$color-light-grey, 5px);
            background-color: variables.$color-pale-grey;
            padding: 10px 15px;
        }
    }

    .table__item-content_title {
        display: none;
        font-size: variables.$font-size-label;
        color: variables.$color-grey;
        margin-bottom: 5px;
    }
}

.section_mobile {
    .table__item-content_title {
        display: block;
    }
}

.item__value-wrapper {
    cursor: text;
}

.item__value_link {
    cursor: pointer;
    text-decoration: underline;
    color: variables.$color-active;

    &:hover {
        text-decoration: none;
    }
}

.button-text__action {
    display: block;
    margin-top: 5px;
}

.item__value-substring {
    color: variables.$color-dark-grey;
}

.selected-object__order .order__content.table__item-content {
    .item__value_link-empty {
        color: variables.$color-grey;
    }
}
