@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.tile-section__body_empty {
    &::after {
        content: 'Пусто';
        color:variables.$color-blue-grey;
        padding: 0px 15px;
        text-align: center;
    }
}