@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.section__top {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding-left: 30px;
    
    .section__top-group {
        gap: 10px;
        display: flex;
        align-items: center;

        .section__setting-item_action {
            padding: 0px;
            background: none;
            font-size: 13px;
            color: variables.$color-blue-grey;
            @include mixins.userSelect($value: none);

            &:hover {
                background: none;
                color: variables.$color-active
            }
        }
    }

    .table__title {
        font-weight: 600;
    }

    .table__tabs {
        gap: 10px;
        display: flex;
        align-items: center;
    }
    .table__tab {
        font-weight: 600;
        color: variables.$color-blue-two;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        &.table__tab_active {
            cursor: default;
            text-decoration: none;
            color: variables.$color-black;
        }
    }

    .icon__draggable {
        position: absolute;
        left: 10px;
        display: none;
    }

    &:hover {
        .icon__draggable {
            display: block;
        }
    }
}