@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.button-text {
    cursor: pointer;
    width: max-content;
    overflow: hidden;
    white-space: nowrap;
    @include mixins.userSelect(none);
    color: variables.$color-settings-text;
    @include mixins.textOptions(15px, 400, normal);

    &:hover {
        color: variables.$color-blue-two
    }

    &.button-text__copy_disabled {
        color: variables.$color-settings-text;
        cursor: text;
    }
}