@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

@media (max-width: 700px) {
    .form__item {
        &.form__item_datepicker {
            .dp__main {
                .dp__menu  {
                    left: 0px !important;
                    width: 100%;
                }

                .dp__month_year_wrap {
                    justify-content: center;
                }

                .dp__menu_content_wrapper {
                    flex-direction: column;
                }

                .dp__sidebar_right {
                    border-left: none;
                    border-top: 1px solid var(--dp-border-color);
                }

                .datapicker__preset-days {
                    width: 100%;
                }
            }
        }
    }
}