@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table-mobile__item {
    color: var(--colorCell);

    &.table__item_read-only {
        .table__item-content_title,
        .select__label,
        .form-item__title {
            color: variables.$color-dark-grey !important;
            display: block;
        }
    }

    .form__item, .table__item-content, &.table__item_file {
        .table__item-content_title,
        .select__label, .form-item__title {
            display: block;
            color: variables.$color-black;
            margin-bottom: 5px;
            font-size: variables.$font-size-label;
        }

        &.form-item__checkbox {
            flex-direction: column;
            gap: 0px;
            align-items: flex-start;
        }
    }

    .table__item-content_status {
        .item__value {
            width: max-content;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .select__content {
            summary {
                gap: 25px;
            }
        }
    }

    &.table__item_checkbox {
        .form-item__checkbox {
            @include mixins.userSelect($value: none);
        }
    }

    .select__textarea {
        .select__list {
            width: 100%;
        }
    }

    &.table__item_file {
        .table__item-content_file {
            position: relative;
            flex-direction: column;
            height: auto;

            .table__item-content_title {
                display: block;
            }

            .table__item-content-slot {
                .item__value {
                    .item__value-img {
                        height: 100px;
                    }
                }
            }
        }
    }

    .form__item-substring--textarea {
        display: none;
    }

    .autocompelete__link {
        right: 1px;
    }

    .warning__close {
        position: static;
    }
}
