@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__row {
    background: variables.$color-white;
}

.table__row_last {
    details {
        & > div {
            top: -60px;
        }
    }
}

.table__body  {
    .table__row {
        @include mixins.sortableGhostRow();

        &.table__row_upper {       
            .table__actions {
                div {
                    top: auto;
                    bottom: calc(100% - 10px);
                }
            }

            .form__item {
                &.form__item_datepicker {
                    .dp__menu {
                        top: auto !important;
                        bottom: 0px;
                        transform: translate(0px, -15%) !important;
                    }
                }
            }
        }

        &.table__row_clicked {
            * {
                .table__item-content_status {
                    overflow: initial;
                }
            }
        }

        &.table__row_clone {
            width: 100%;
            z-index: 200;
            position: absolute !important;
            display: flex;
            background: #fbfcfd;
            cursor: grab;
            @include mixins.elemPositionOptions(0px, 0px);

            .table__item {
                padding: 15px 10px;
            }
        }

        &.sortable-ghost {
            .table__item {
                position: static;
            }
        }
    }
}

