@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__actions-list {
    z-index: 4;
    width: 180px;
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    background-color: variables.$color-white;
    @include mixins.elemPositionOptions(20px, 15px);
    box-shadow: 0 0 3px 0 variables.$color-black, inset 0 1px 2px 0 variables.$color-white-opacity;


}

.table-mobile__section {
    .table__actions-list {
        @include mixins.elemPositionOptions(20px, 5px);


    }
}


.table__actions {
    &.table__actions_hidden {
        .table__actions-list {
            display: none;
        }
    }
}
