@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.main__content_menu {
    height: 100%;
    position: relative;
}

.component_menu {
    .menu {
        &.menu_desktop {
            position: static;
            height: 50vh;
        }
    }
}