@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

/*Обнуление*/
*,
b::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: variables.$color-black;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

html,
body {
    line-height: normal;
    font-size: variables.$font-size-default;
    color: variables.$color-black;
    font-family: Comfortaa;
    overflow-x: hidden;
    min-height: 100vh;
    
    &.body_uncscroll {
        overflow: hidden;
    }
}

html {
    body {
        background-color: variables.$color-pale-grey !important;
    }
}

#app {
    min-height: 95vh;
}

/* ------------------------------------------------------------------------------------ */

/*Класс для того, чтобы не было скролла по иксу */
.wrapper {
    height: 100%;
    min-height: 100%;
}

.container {
    /*Пишется max-width*/
    max-width: 1400px;
    margin: 0 auto;
    /*Избегание прилипания к краю*/
    padding: 20px;
    box-sizing: content-box;
}

/*фоновое изображение*/
.ibg {
    position: relative;
}

.ibg img {
    position: absolute;
    top: 0;
    left: 0;
    @include mixins.elemResolutionOptions(100%, 100%);
    object-fit: cover;
}

.svg__matrix {
    display: none;
}

main {
    height: 100%;
    padding: 0px 100px 0px 0px;
}

.page {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 280px 1fr;
    height: 100%;
    margin-top: 30px;
    background-color: variables.$color-pale-grey;
}

details {
    summary::marker {
        display:none;
        font-size: 0;
    }
}

input, textarea {
    width: 100%;
    resize: none;
    outline: none;
    min-height: 40px;
    padding: 10px 15px;
    font-family: inherit;
    box-shadow: none;
    font-size: variables.$font-size-default;
    background-color: variables.$color-white;
    caret-color: variables.$color-black;
    @include mixins.elemResolutionOptions(100%, 40px);
    @include mixins.borderOptions(1px, solid,  variables.$color-grey, 5px);

    &:focus {
        border: 1px solid variables.$color-blue
    }

    &::-webkit-credentials-destruction-view-button {
        display: none;
    }

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[disabled] {
        opacity: 0.6;
    }
}

.Toastify__toast-body {
    overflow: hidden;
}