// Шрифты
$font-size-default: 15px;
$font-size-label: 12px;
$font-size-h1: 30px;
$font-size-h2: 26px;
$font-size-h3: 20px;


// Цвета
$color-white: #fff;
$color-black: #000;

$color-red: #AD0B0A;

$color-blue: #0085FF;
$color-active: #1253a2;
$color-blue-grey: #a6b7d4;

$color-grey: #bcbcbc;
$color-hover: #eef3f8;
$color-light-grey: #eeeff1;
$color-white-opacity: rgba(255, 255, 255, 0.5);
$color-pale-grey: #fbfcfd;
$color-dark-grey: #8f8f8f;
$color-darkest-grey: #4e4e4e;

$color-orange: #fd8301;
