// Шрифты
$font-size-default: 15px;
$font-size-label: 12px;
$font-size-header: 30px;
$font-size-h1: 30px;
$font-size-h2: 24px;
$font-size-h3: 18px;

// Цвета
$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, 0.5);

$color-black: #000;
$color-dark: #161616;

$color-red: #AD0B0A;

$color-light-grey: #eeeff1;
$color-pale-grey: #fbfcfd;
$color-darkest-grey: #4e4e4e;

$color-orange: #fd8301;

$color-blue: #0584fe;

$color-light-blue: #f7fbff;
$color-blue-two: #1253a2;

// Updated Variables

$color-empty: #a6b7d4;
$color-draggable: #a6b7d4;
$color-settings: #a6b7d4;
$color-settings-text: #a6b7d4;
$color-subtext-dark: #8f8f8f;

$color-border: #8f8f8f;
$color-subtext: #8f8f8f;
$color-hover: #eef3f8;
