@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__item-border {
    top: 0px; 
    right: -1px; 
    position: absolute; 
    cursor: col-resize; 
    
    @include mixins.userSelect($value: none);
    @include mixins.elemResolutionOptions(5px, 100%);

    &:hover, &.table__item-border_changeWidth {
        border-right: 1px solid #bcbcbc;
    }
}